<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cailang.record.mapper.MaintainMapper">
    <!--保存对象-->
    <insert id="insert" parameterType="Maintain" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_maintain(
                            `goodsId`,
                            `cause`,
                            `description`,
                            `createTime`,
                            `date`,
                            `operatorId`
        ) values(
                                   #{goodsId},
                                   #{cause},
                                   #{description},
                                   #{createTime},
                                   #{date},
                                   #{operatorId}
        )
    </insert>
    <!--删除对象-->
    <delete id="deleteById" parameterType="long">
        delete from t_maintain where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="Maintain">
        update t_maintain
        set

                            `goodsId` =#{goodsId},
                            `cause` =#{cause},
                            `description` =#{description},
                            `createTime` =#{createTime},
                            `date` =#{date},
                            `operatorId` =#{operatorId}
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="selectById" resultMap="BaseResultMap" parameterType="long">
        select * from t_maintain where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="selectAll" resultMap="BaseResultMap">
        select * from t_maintain
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="queryTotal" parameterType="MaintainQuery" resultType="long">
        select count(*) from t_maintain
        <where>
            <if test="keyword!=null and keyword!=''">
                and (cause like concat('%',#{keyword},'%') or description like concat('%',#{keyword},'%'))
            </if>
            <!--<if test="operatorId!=null and operatorId!=''">
                and operatorId = #{operatorId}
            </if>-->
            <if test="goodsId!=null and goodsId!=''">
                and goodsId = #{goodsId}
            </if>
        </where>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="queryPageList" parameterType="MaintainQuery" resultMap="BaseResultMap">
        select td.*,te.username as tuname from t_maintain td left join t_org_employee te on td.operatorId = te.id
        <where>
            <if test="keyword!=null and keyword!=''">
                and (td.cause like concat('%',#{keyword},'%') or td.description like concat('%',#{keyword},'%'))
            </if>
            <!--<if test="operatorId!=null and operatorId!=''">
                and td.operatorId = #{operatorId}
            </if>-->
            <if test="goodsId!=null and goodsId!=''">
                and td.goodsId = #{goodsId}
            </if>
        </where>
        limit #{start},#{pageSize}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="batchDelete" parameterType="arraylist">
        delete from t_maintain where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.cailang.record.domain.Maintain">
        <id column="id" property="id" />
        <result column="goodsId" property="goodsId" />
        <result column="cause" property="cause" />
        <result column="description" property="description" />
        <result column="createTime" property="createTime" />
        <result column="date" property="date" />
        <result column="operatorId" property="operatorId" />
        <association property="operator" javaType="employee">
            <result column="tuname" property="username"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goodsId, cause, description, createTime, date, operatorId
    </sql>

</mapper>
