<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cailang.goods.mapper.UseRecordMapper">
    <!--保存对象-->
    <insert id="insert" parameterType="UseRecord" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_goods_use_record(
                            `useId`,
                            `goodsId`,
                            `count`,
                            `deptParentId`,
                            `operatorId`,
                            `deptIdPath`,
                            `remark`,
                            `type`
        ) values(
                                   #{useId},
                                   #{goodsId},
                                   #{count},
                                   #{deptParentId},
                                   #{operatorId},
                                   #{deptIdPath},
                                   #{remark},
                                   #{type}
        )
    </insert>
    <!--删除对象-->
    <delete id="deleteById" parameterType="long">
        delete from t_goods_use_record where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="UseRecord">
        update t_goods_use_record
        set

                            `useId` =#{useId},
                            `goodsId` =#{goodsId},
                            `count` =#{count},
                            `deptParentId` =#{deptParentId},
                            `operatorId` =#{operatorId},
                            `deptIdPath` =#{deptIdPath},
                            `remark` =#{remark},
                            `type` =#{type}
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="selectById" resultType="UseRecord" parameterType="long">
        select * from t_goods_use_record where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="selectAll" resultType="UseRecord">
        select * from t_goods_use_record
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="queryTotal" parameterType="UseRecordQuery" resultType="long">
        select count(*) from t_goods_use_record p
                                 left join t_org_employee e on e.id = p.useId
                                 left join t_org_employee e1 on e1.id = p.operatorId
                                 left join t_org_department d on d.id = p.deptParentId
        <where>
            <if test="keyword!=null and keyword!=''">
                and (e.username like concat('%',#{keyword},'%')
                or e1.username like concat('%',#{keyword},'%')
                or d.name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="queryPageList" parameterType="UseRecordQuery" resultType="UseRecord">
        select
            p.*
        from t_goods_use_record p
        left join t_org_employee e on e.id = p.useId
        left join t_org_employee e1 on e1.id = p.operatorId
        left join t_org_department d on d.id = p.deptParentId
        <where>
            <if test="keyword!=null and keyword!=''">
                and (e.username like concat('%',#{keyword},'%')
                         or e1.username like concat('%',#{keyword},'%')
                or d.name like concat('%',#{keyword},'%'))
            </if>
        </where>
        limit #{start},#{pageSize}
    </select>
    <select id="selectAllForOperator" resultType="cn.cailang.goods.domain.UseRecord">
        select
            p.*
        from t_goods_use_record p
        left join t_org_employee e on e.id = p.useId
        left join t_org_employee e1 on e1.id = p.operatorId
        left join t_org_department d on d.id = p.deptParentId
        <where>
            <if test="operatorId!=null and operatorId!=''">
            and p.operatorId = #{operatorId}
            </if>
            <if test="keyword!=null and keyword!=''">
                and (e.username like concat('%',#{keyword},'%')
                or e1.username like concat('%',#{keyword},'%')
                or d.name like concat('%',#{keyword},'%'))
            </if>
        </where>
            limit #{start},#{pageSize}
    </select>
    <select id="selectCountForOperator" resultType="java.lang.Long">
        select count(*) from t_goods_use_record p
        left join t_org_employee e on e.id = p.useId
        left join t_org_employee e1 on e1.id = p.operatorId
        left join t_org_department d on d.id = p.deptParentId
        <where>
            <if test="operatorId!=null and operatorId!=''">
                and p.operatorId = #{operatorId}
            </if>
            <if test="keyword!=null and keyword!=''">
                and (e.username like concat('%',#{keyword},'%')
                or e1.username like concat('%',#{keyword},'%')
                or d.name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (p.name like concat('%',#{keyword},'%') or p.description like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="batchDelete" parameterType="arraylist">
        delete from t_goods_use_record where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, useId, goodsId, count,deptParentId, operatorId,deptIdPath,remark,type
    </sql>

</mapper>
