<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.pzhxy.devicemanager.auth.mapper.RoleMapper">
    <insert id="insert">
        insert into t_auth_role(name,sn) values (#{name},#{sn})
    </insert>
    <update id="update">
        update t_auth_role
        set name = #{name},
            sn = #{sn}
        where id = #{id}
    </update>
    <insert id="setRoleMenus">
        insert into t_auth_role_menu(role_id,menu_id) values
        <foreach collection="menuIds" separator="," item="menuId">
            (#{roleId},#{menuId})
        </foreach>
    </insert>
    <insert id="setRolePermissions">
        insert into t_auth_role_permission(role_id,permission_sn) values
           <foreach collection="permissionSns" separator="," item="sn">
               (#{roleId},#{sn})
           </foreach>
    </insert>
    <delete id="deleteById">
        delete from t_auth_role where id = #{id}
    </delete>
    <delete id="deleteRolePermissionByRoleId">
        delete from t_auth_role_permission where role_id = #{roleId}
    </delete>
    <delete id="batchDelete">
        delete from t_auth_role where id in
            <foreach collection="list" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </delete>
    <delete id="deleteRoleMenuByRoleId">
        delete from t_auth_role_menu where role_id = #{roleId}
    </delete>
    <select id="selectAll" resultType="cn.pzhxy.devicemanager.auth.domain.Role">
        select * from t_auth_role
    </select>
    <sql id="keywordWhere">
        <where>
            <if test="keyword!=null and keyword!=''">
                name like concat('%',#{keyword},'%')
                or sn like concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>
    <select id="queryTotal" resultType="java.lang.Long">
        select count(*) from t_auth_role
        <include refid="keywordWhere"></include>
    </select>
    <select id="queryPageList" resultType="cn.pzhxy.devicemanager.auth.domain.Role">
        select * from t_auth_role
        <include refid="keywordWhere"></include>
        limit #{start},#{pageSize}
    </select>
    <select id="selectById" resultType="cn.pzhxy.devicemanager.auth.domain.Role">
        select * from t_auth_role
        where id = #{id}
    </select>
    <select id="selectByName" resultType="cn.pzhxy.devicemanager.auth.domain.Role">
        select * from t_auth_role where name = #{name}
    </select>
    <select id="selectBySn" resultType="cn.pzhxy.devicemanager.auth.domain.Role">
        select * from t_auth_role where sn = #{sn}
    </select>
    <select id="selectPermissionTree" resultMap="baseMap">
        select p.*, c.id cid, c.name cname, c.sn csn
        from t_auth_permission p
                 left join t_auth_permission c on p.id = c.parent_id
        where p.parent_id is null
    </select>
    <select id="selectPermissionSnsByRoleId" resultType="java.lang.String">
        select permission_sn from t_auth_role_permission where role_id = #{roleId}
    </select>
    <select id="selectMenuIdsByRoleId" resultType="java.lang.String">
        select menu_id from t_auth_role_menu where role_id = #{roleId}
    </select>
    <select id="selectMenuTree" resultMap="baseMapForMenu">
        select p.*, c.id cid, c.name cname
        from t_auth_menu p
                 left join t_auth_menu c on p.id = c.parent_id
        where p.parent_id is null || p.parent_id = 0
    </select>
    <resultMap id="baseMap" type="cn.pzhxy.devicemanager.auth.domain.Permission">
        <id property="id" column="id"/>
        <result column="name" property="name"/>
        <result property="descs" column="descs"/>
        <result property="url" column="url"/>
        <result property="sn" column="sn"/>
        <result property="parentId" column="parent_id"/>
        <collection property="children" ofType="permission">
            <id property="id" column="cid"/>
            <result property="name" column="cname"/>
            <result property="sn" column="csn"/>
        </collection>
    </resultMap>
    <resultMap id="baseMapForMenu" type="cn.pzhxy.devicemanager.auth.domain.Menu">
        <id property="id" column="id"/>
        <result column="name" property="name"/>
        <result property="url" column="url"/>
        <result property="parentId" column="parent_id"/>
        <result property="icon" column="icon"/>
        <collection property="children" ofType="menu">
            <id property="id" column="cid"/>
            <result property="name" column="cname"/>
            <result property="url" column="curl"/>
            <result property="icon" column="cicon"/>
        </collection>
    </resultMap>

</mapper>