<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pzhxy.devicemanager.goods.mapper.GoodsOperaterLogMapper">
    <!--保存对象-->
    <insert id="insert" parameterType="GoodsOperaterLog" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_goods_operater_log(`type`,
                                         `description`,
                                         `operatorId`,
                                         `operatorName`,
                                         `updateTime`,
                                         `originId`,
                                         `originName`,
                                         `goodsId`,
                                         `goodsName`)
        values (#{type},
                #{description},
                #{operatorId},
                #{operatorName},
                #{updateTime},
                #{originId},
                #{originName},
                #{goodsId},
                #{goodsName})
    </insert>
    <!--删除对象-->
    <delete id="deleteById" parameterType="long">
        delete from t_goods_operater_log where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="GoodsOperaterLog">
        update t_goods_operater_log
        set
            `type` =#{type},
                            `description` =#{description},
                            `operatorId` =#{operatorId},
                            `operatorName` =#{operatorName},
                            `updateTime` =#{updateTime},
            `originId` =#{originId},
            `originName` =#{originName},
            goodsId =#{goodsId},
            goodsName =#{goodsName}
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="selectById" resultMap="BaseResultMap" parameterType="long">
        select * from t_goods_operater_log where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="selectAll" resultMap="BaseResultMap">
        select * from t_goods_operater_log
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="queryTotal" parameterType="GoodsOperaterLogQuery" resultType="long">
        select count(*) from t_goods_operater_log
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="queryPageList" parameterType="GoodsOperaterLogQuery" resultMap="BaseResultMap">
        select * from t_goods_operater_log
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (`operatorName` like concat('%',#{keyword},'%')
                or `type` like concat('%',#{keyword},'%')
                or `description` like concat('%',#{keyword},'%')
                or `originName` like concat('%',#{keyword},'%')
                or `goodsName` like concat('%',#{keyword},'%')
                )
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="batchDelete" parameterType="arraylist">
        delete from t_goods_operater_log where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.pzhxy.devicemanager.goods.domain.GoodsOperaterLog">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="description" property="description" />
        <result column="operatorId" property="operatorId" />
        <result column="operatorName" property="operatorName" />
        <result column="originId" property="originId" />
        <result column="originName" property="originName" />
        <result column="goodsId" property="goodsId" />
        <result column="goodsName" property="goodsName" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type,description, operatorId, operatorName, updateTime,originId,originName,goodsId, goodsName
    </sql>

</mapper>
