<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.pzhxy.devicemanager.org.mapper.DepartmentMapper">

    <resultMap id="baseMap" type="department">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="intro" property="intro"/>
        <result column="path" property="path"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="manager_id" property="managerId"/>
        <result column="parent_id" property="parentId"/>
        <association property="manager" javaType="employee">
            <id column="manager_id" property="id"/>
            <result column="ename" property="username"/>
        </association>
        <association property="parent" javaType="department">
            <id column="parent_id" property="id"/>
            <result column="pname" property="name"/>
        </association>
    </resultMap>
    <resultMap id="baseMapChildren" type="department">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="intro" property="intro"/>
        <result column="path" property="path"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="manager_id" property="managerId"/>
        <result column="parent_id" property="parentId"/>
        <collection property="children" ofType="department">
            <id column="cid" property="id"/>
            <result column="cname" property="name"/>
        </collection>
    </resultMap>
    <sql id="baseSelect">
        select
            d.*,
            e.username ename,
            p.name pname
        from t_org_department d
                 left join t_org_employee e on d.manager_id = e.id
                 left join t_org_department p on p.id = d.parent_id
    </sql>
    <insert id="insert" parameterType="department" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into
            t_org_department(
                `name`,
                intro,
                create_time,
                update_time,
                manager_id,
                parent_id,
                `path`,
                `state`
            )
        values (
                #{name},
                #{intro},
                #{createTime},
                #{updateTime},
                #{manager.id},
                #{parent.id},
                #{path},
                #{state}
               )
    </insert>
    <update id="update" parameterType="department">
        update t_org_department
        set
            `name`=#{name},
            intro=#{intro},
            create_time=#{createTime},
            update_time=#{updateTime},
            manager_id=#{manager.id},
            parent_id=#{parent.id},
            `path`=#{path},
            `state`=#{state}
        where id = #{id}

    </update>
    <delete id="deleteById">
        delete from t_org_department where id = #{id}
    </delete>
    <delete id="batchDelete">
        delete from t_org_department where id in
            <foreach collection="list" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
    </delete>
    <select id="selectById" resultMap="baseMap">
        <include refid="baseSelect"></include>
            where d.id = #{id}
    </select>
    <select id="selectAll" resultMap="baseMap">
         <include refid="baseSelect"></include>
    </select>
    <sql id="whereKeyWord">
        <where>
            <if test="keyword!=null and keyword!=''">
                and d.`name` like concat('%',#{keyword},'%') or d.`intro` like concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>
    <select id="queryTotal" resultType="java.lang.Long">
        select count(*)
        from t_org_department d
        left join t_org_employee e on d.manager_id = e.id
        left join t_org_department p on p.id = d.parent_id
        <include refid="whereKeyWord"></include>
    </select>
    <select id="queryPageList" resultMap="baseMap">
        <include refid="baseSelect"></include>
        <include refid="whereKeyWord"></include>
        limit #{start},#{pageSize}
    </select>
    <select id="queryFirstDeptAndChildren" resultMap="baseMapChildren">
        select
            p.*,
            c.name cname,
            c.id cid
        from t_org_department p
        left join t_org_department c on p.id = c.parent_id
        where p.parent_id is null
    </select>
</mapper>