<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pzhxy.devicemanager.seller.mapper.SellerMapper">
    <!--保存对象-->
    <insert id="insert" parameterType="Seller" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_seller(
                            `name`,
                            `description`,
                            `resource`,
                            `type_id`
        ) values(
                                   #{name},
                                   #{description},
                                   #{resource},
                                   #{typeId}
        )
    </insert>
    <!--删除对象-->
    <delete id="deleteById" parameterType="long">
        delete from t_seller where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="Seller">
        update t_seller
        set

                            `name` =#{name},
                            `description` =#{description},
                            `resource` =#{resource},
                            `type_id` =#{typeId}
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="selectById" resultMap="BaseResultMap" parameterType="long">
        select * from t_seller where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="selectAll" resultMap="BaseResultMap">
        select * from t_seller
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="queryTotal" parameterType="SellerQuery" resultType="long">
        select count(*) from t_seller p
        left join t_seller_type t on p.type_id = t.id
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="queryPageList" parameterType="SellerQuery" resultMap="BaseResultMap">
        select
            p.*,
            t.id tid,
            t.name tname
        from t_seller p
        left join t_seller_type t on p.type_id = t.id
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (p.name like concat('%',#{keyword},'%') or p.description like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="batchDelete" parameterType="arraylist">
        delete from t_seller where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.pzhxy.devicemanager.seller.domain.Seller">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="resource" property="resource" />
        <result column="type_id" property="typeId" />
        <association property="type" javaType="SellerType">
            <id column="tid" property="id"/>
            <result column="tname" property="name"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description, resource, type_id AS typeId
    </sql>

</mapper>
